# .NET Core
bin/
obj/

# Visual Studio
.vscode/
*.sln.docstates

# User-specific files
*.suo
*.user
*.userosscache
*.v2
*.vs



*.pubxml
*.publishproj

# .NET Core 7
.project.assets.json
project.lock.json
project.paket.cache
paket-files/
paket-out/
paket-files/
paket-dependencies/
paket-files/

# Compiled files
*.dll
*.exe
*.pdb
*.dll.config
*.exe.config

# Logs and databases
*.log
*.sqlite

# NuGet packages
*.nuget.props
*.nuget.targets

# Rider
.idea/
*.sln.iml

# User-specific files
*.suo
*.user
*.userosscache

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Visual Studio Code
.vscode/

/OPFXCRMAPI/UploadFiles/Uploaded Excel
/OPFXCRMAPI/UploadFiles/KYCDocument
/OPFXCRMAPI/UploadFiles/ChatDocument
/OPFXCRMAPI/UploadFiles/ApprovedKYCDocument
/OPFXCRMAPI/ServiceLog
/OPFXCRMAPI/UploadFiles/ServiceLog
/OPFXCRMAPI/DatabaseBackup
/OPFXCRM_BAL/CommanMethod/ExceptionSave.cs
